/*General styling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
     width:100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #333;
    /* overflow: hidden; */
    height: 100%;
}


/*utility classes*/

.container {
    width:100%;

    max-width: 1100px;
    margin: auto;
    height: 900px;
}

.text-primary {
    color: #3693ff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

hr{
    background-color: #3693ff;
    height:5px;
    border: none;
}
/*navbar*/

#navbar {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px soild #3693ff;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a {
    color: #fff;
    text-decoration: none;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
}

#navbar li a:hover {
    background-color: #3693ff;
}

/*showcase*/

#showcase {
    background: url('bg2.jpeg') no-repeat repeat center/cover;
    height: 80vh;
    width:100%;
}

.showcase {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 81px;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.showcase-content h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.showcase-content .btn {
    font-size: 1.5rem;
    padding: 1rem 10rem;
    transition: 0.3s;
    text-align: center;
    display: inline-block;
    align-content: center;
}
.showcase-content .about-text{
    font-size: 6rem;
    color: #d1d1d1;
}

.btn {
    color: #3693ff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid #3693ff;
    font-weight: bold;
    
}

.showcase-content .btn:hover {
    background: #3693ff;
    color: #fff;
}


/*about*/

#about {
    width: 100%;
    padding: 5rem 0;
    height: 600px;
}

#about h2, #service{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}
#about h3,
#service {
    font-size: 2rem;
    margin-bottom: 1rem;
}
#about p{
    margin-bottom: 1rem;
}
#about p .lead{
margin-bottom: 1rem;

}
#about .about-content {
    /* display: flex; */
    position: relative;
    width: 100%;
    
} 
/* #about .about-text, #about .about-image{ */
    /* flex: 1; */
    
/* } */

#about .about-text {
    /* flex-wrap: wrap; */
    text-align: justify;
    position: relative;
    margin: 20px;
    /* width:inherit; */
    
}
#about  img{
    /* display: flex; */
    /* flex:right; */
    width:100%;
    position: absolute;
    /* overflow: hidden; */
    height: 100%;
    object-fit: cover;
    /* float: right; */
    /* border-radius: 50%; */
    /* shape-outside: circle(); */
    /* margin: 30px; */

}
#about .about-image{
    width: 200px;
    position: relative;
    overflow: hidden;
    height: 200px;
    float: right;
    border-radius: 50%;
    shape-outside: circle();
    margin: 20px;
}





#about p .lead {
    margin-bottom: 1rem;
}

#about .about .content {
    display: flex;
    /* width: 100%; */
}

#about .about-text,
#about.about-image {
    flex: 1;
}

#about .about-text {
    text-align: justify;
}

#about .about-image {
    display: flex;
    margin-left: auto;
}


/*service*/

#service {
    height: 600px;
    padding: 5rem 0;
}

#service .h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#service .boxes {
    display: flex;
}

#service .box {
    background: #fff;
    flex: 1;
    padding: 3rem;
    margin: 0 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;
}

#service .box .feature-left .i,
#service .box .feature-right .i {
    color: #fff;
    padding: 1rem;
    background-color: #3693ff;
    border-radius: 50%;
    margin: 0 1rem;
    margin-bottom: 2rem;
}
#service .box .feature-left{
   width: 50%;
   height: 100%;
   display: inline-block;
   text-align: center;
}

#service .box .feature-right {
    width: 50%;
    height: 55px;
    /* float: right; */
    display: inline-flexbox;
    float: left;
    text-align: center;
    justify-content: right;
}



/*testmonials*/

#testmonials {
    background: url('bg.jpg') no-repeat repeat center/cover;
    height: 850px;
    position: relative;
}

#testmonials-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 5rem 0;
}

#testmonials h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #fff;
}

#testmonials .boxes {
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 100%;
}

#testmonials .box {
    background: rgba(54, 147, 255, 7);
    display: flex;
    flex-flow: row;
    padding: 1rem;
    align-items: center;
    border-radius: 15px;
    height: 200px;
}

#testmonials .box:first-child,
#testmonials .box:nth-child(2) {
    margin-bottom: 2rem;
}

#testmonials .box img {
    border-radius: 50%;
    margin-right: 2rem;
    height: inherit;
}

#testmonials p {
    color: #fff;
}


/*content*/

#content {
    padding: 5rem 0;
    height: 800px;
}

#content h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 8rem;
}

#content h3 {
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
    margin-top: 5rem;
}

#content .form-box {
    background: #fff;
    padding: 3rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
    height: inherit;
}

#content .form-group {
    margin-bottom: 1rem;
}

#content .form-group label {
    display: block;
    margin-bottom: 0, 5rem;
    width: 80%;
    margin-left: 10%;
    font-size: 1.1rem;
}

#content .form-group input,
#content .form-group textarea {
    width: 80%;
    margin-left: 10%;
    font-size: 1.3rem;
    padding: 1rem;
    border: 0.5px solid #3695ff;
    border-radius: 5px;
}

#content .form-group textarea {
    font-family: Arial, Helvetica, sans-serif;
}

#content .content-btn {
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    background: #3693ff;
    color: #fff;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

#content .content-btn:hover {
    background: #3693ff;
}

#content .form-container {
    position: relative;
}

#content .mail-icon {
    font-size: 4rem;
    background: #3693ff;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    border-radius: 50%;
    position: absolute;
    top: -7%;
    left: 45%;
}


/*footer*/

footer {
    margin-top: 700px;
    padding: 2.5rem;
    text-align: center;
    height: 150px;
}
footer ul {
    margin-left: 32%;
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
}
footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
}
footer li a:hover {
    background-color: #3693ff;
}
footer h2 {
    font-size: 1rem;
}